Group C (Sentiment_Scerri)/Dev/eclipse project/PersianSentiment/PersianSentiment/WebContent/wsdl/Sentiment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://jee.Sapersian.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://jee.Sapersian.com" xmlns:intf="http://jee.Sapersian.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://jee.Sapersian.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="persian_sentiment">
    <complexType>
     <sequence>
      <element name="text" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="persian_sentimentResponse">
    <complexType>
     <sequence>
      <element name="persian_sentimentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="persian_sentimentRequest">

      <wsdl:part element="impl:persian_sentiment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="persian_sentimentResponse">

      <wsdl:part element="impl:persian_sentimentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Sentiment">

      <wsdl:operation name="persian_sentiment">

         <wsdl:input message="impl:persian_sentimentRequest" name="persian_sentimentRequest">

       </wsdl:input>

         <wsdl:output message="impl:persian_sentimentResponse" name="persian_sentimentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SentimentSoapBinding" type="impl:Sentiment">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="persian_sentiment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="persian_sentimentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="persian_sentimentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SentimentService">

      <wsdl:port binding="impl:SentimentSoapBinding" name="Sentiment">

         <wsdlsoap:address location="http://localhost:8080/PersianSentiment/services/Sentiment"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
